FLASK_APP=app
FLASK_DEBUG=1

# Once you add your API keys below, make sure to not share them with anyone! The API keys should remain private.
OPENAI_API_KEY=
OPENAI_MODEL=gpt-3.5-turbo

SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI=