body {
  font-family: "Arial", sans-serif;
  background-color: #191414;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}

h1 {
  font-size: 48px;
  margin-bottom: 5px;
  margin-top: 28px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 700px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  font-size: 14px;
  background-color: #282828;
  border: 1px solid #333;
  border-radius: 2px;
  color: #fff;
  width: 300px;
  max-width: 100%;
}

input[type="text"]::placeholder {
  color: #999;
  opacity: 1;
}

.input-wrapper {
  position: relative;
  width: 300px;
  max-width: 100%;
}

#playlist-input, #question-input {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #282828;
  background-image: none;
  border: 1px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
}

.custom-autocomplete__menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #282828;
  border: 1px solid #333;
  border-radius: 2px;
  padding: 5px;
  max-height: 150px;
  overflow-y: auto;
  width: calc(100% - 2px);
  z-index: 1;
  box-sizing: border-box;
}

.custom-autocomplete__menu--hidden {
  display: none;
}

.custom-autocomplete__option {
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.custom-autocomplete__option:hover {
  background-color: #1db954;
  color: #fff;
}

.custom-autocomplete__option[aria-disabled="true"] {
  display: none !important;
}

input[type="submit"], .button {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #1db954;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 300px;
  max-width: 100%;
}

input[type="submit"]:hover, .button:hover {
  background-color: #1ed760;
}

.playlist-info {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
  background-color: #282828;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.playlist-info-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.playlist-info-container h2 {
  margin-bottom: 0;
  text-align: left;
}

.playlist-info-container h2 a {
  color: green;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.playlist-info-container h2 a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: green;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.playlist-info-container h2 a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.playlist-info-container h2 a:hover {
  text-decoration: none;
}

#playlist-image {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  object-fit: cover;
}

#playlist-name {
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
  color: #1ed760;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

#playlist-name:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #1ed760;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#playlist-name:hover a:after {
  visibility: visible;
  transform: scaleX(1);
}

#playlist-description {
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
}

.playlist-author {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

#author-name {
  color: #b3b3b3;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}

#author-name:hover {
  color: #fff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 10px;
}

.spinner {
  float: left;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  border: 3px solid rgba(29, 185, 84, 0.2);
  border-radius: 50%;
  border-top-color: #1DB954;
  animation: spin 1s ease-in-out infinite;
}

.loading-indicator p {
  float: left;
  margin-top: 8px;
}

.result {
  max-width: 800px;
  margin-top: 12px;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.result a {
  color: #1DB954;
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline-block;
  position: relative;
}

.result a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1DB954;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.result a:hover::before {
  visibility: visible;    
  transform: scaleX(1);
}

.code {
  font-size: 16px;
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

pre {
  background-color: #282828;
  border-radius: 2px;
  padding: 10px;
  overflow-x: auto;
}

code {
  font-family: "Courier New", monospace;
  color: #fff;
  text-align: left;
}

.sample-questions {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.sample-questions a {
  color: #1db954;
  text-decoration: none;
  cursor: pointer;
}

.sample-questions a:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #191414;
  color: #b3b3b3;
  font-size: 16px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.social-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  filter: brightness(0) invert(1) grayscale(1) opacity(0.5);
  transition: filter 0.3s ease;
}

.social-icon:hover {
  filter: brightness(0) invert(1);
}
