<!DOCTYPE html><html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaylistGPT</title>
    <link
        rel="shortcut icon"
        href="{{ url_for("static", filename="images/playlistgpt-icon.png") }}"
    />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}" />
    <script src="{{ url_for("static", filename="js/main.js") }}"></script>

    <link rel="stylesheet" href="https://unpkg.com/accessible-autocomplete@2.0.3/dist/accessible-autocomplete.min.css">
    <script src="https://unpkg.com/accessible-autocomplete@2.0.3"></script>
</head>

<body>
    <header class="header">
        <img src="{{ url_for("static", filename="images/playlistgpt-icon.png") }}" class="icon" alt="PlaylistGPT Icon" />
        <h1>PlaylistGPT</h1>
    </header>
    <h3>Ask a question about your Spotify playlist and see if OpenAI's language model can write the necessary Python code to answer it!</h3>

    <form action="/" method="post" role="search" id="playlist-form">
        <label for="playlist-input">Your playlist:</label>
        <div class="input-wrapper">
            <div id="playlist-autocomplete-container"></div>
        </div>

        <label for="question">What you want to know about it:</label>
        <input type="text" name="question" id="question-input" autocomplete="off" placeholder="Enter your question." required />

        <input type="submit" value="Find out!" title="Submit your question" />
    </form>

    <div id="playlist-info" class="playlist-info" style="display: none;">
        <div class="playlist-info-container">
            <img id="playlist-image" src="" alt="Playlist Image" />
            <div>
                <h2 id="playlist-name"></h2>
                <div id="playlist-author" class="playlist-author">
                    <a id="author-name" href="" target="_blank"></a>
                </div>
                <p id="playlist-description"></p>
            </div>
        </div>
    </div>

    <div class="loading-indicator" id="loading-indicator" style="display: none;">
        <div class="spinner"></div>
        <p>Loading, please wait...</p>
    </div>

    <div class="result" style="display:none">
        <h2>Result:</h2>
        <p id="result-text"></p>
        <button class="button" id="toggle-code-button" aria-label="Toggle generated code visibility">Show generated code</button>
    </div>

    <div class="code" style="display:none">
        <h2>Generated Response:</h2>
        <pre><code id="generated-response"></code></pre>
        <form action="/" method="post" role="search" id="code-form">
            <input type="hidden" id="hidden-playlist-name" name="playlist_name" value="" />           
            <input type="hidden" id="hidden-gpt-response" name="gpt_response" value="" />
            <input type="submit" value="Looks good – run code!" title="Run generated code" />
        </form>
    </div>

    <div class="sample-questions">
        <h2>Sample questions:</h2>
        <p><a href="#" onclick="fillQuestion('What is the top genre in my playlist?'); return false;">
            What is the top genre in my playlist?
        </a></p>
        <p><a href="#" onclick="fillQuestion('What\'s the most popular song in my playlist?'); return false;">
            What's the most popular song in my playlist?
        </a></p>
        <p><a href="#" onclick="fillQuestion('How many songs in my playlist are from the 80s?'); return false;">
            How many songs in my playlist are from the 80s?
        </a></p>
    </div>
    
    <footer class="footer">
        <p>Created by Sav Bell</p>
        <div class="social-links">
            <a href="https://github.com/savbell/playlist-gpt" target="_blank" rel="noopener noreferrer" aria-label="PlaylistGPT's GitHub Page">
                <img src="{{ url_for("static", filename="images/github-icon.png") }}" alt="GitHub Icon" class="social-icon" />
            </a>
            <a href="https://open.spotify.com/user/sav-bell" target="_blank" rel="noopener noreferrer" aria-label="Sav Bell's Spotify Profile">
                <img src="{{ url_for("static", filename="images/spotify-icon.png") }}" alt="Spotify Icon" class="social-icon" />
            </a>
            <a href="https://www.linkedin.com/in/savbell/" target="_blank" rel="noopener noreferrer" aria-label="Sav Bell's LinkedIn Profile">
                <img src="{{ url_for("static", filename="images/linkedin-icon.png") }}" alt="LinkedIn Icon" class="social-icon" />
            </a>
        </div>
    </footer>
    
</body>
</html>
